<h1>books</h1>
<a href="/books/create"> Add Book</a>
{{#each books}}

<div>
    <h3>{{title}}</h3>
    <p>By: {{author}}</p> {{!-- additional book property --}}
    <a href="/books/{{_id}}">See details</a> {{!-- link that points to the details page --}}
  </div>

{{/each}}